%h2 releases statistics
= content_tag :div, "", id: "releases_chart", data: {releases: releases_chart_data}

%table{ :id => "release_datatable", :class => "table table-striped table-bordered" }
  %thead
    %tr
      %th release
      %th partitions #
    %tbody
      - releases_table_data.map do |entry|
        %tr
          %td= entry[0].release
          %td= entry[1]


