.row
  .span6.offset4
    %h1 General statistics
    %ul.nav.nav-tabs
      %li.tab_text.active=link_to "customers", { :action => "render_stats", :stats => "customer_stats"}, :remote => true
      %li.tab_text=link_to "releases", { :action => "render_stats", :stats => "release_stats"}, :remote => true
      %li.tab_text=link_to "models", { :action => "render_stats", :stats => "model_stats"}, :remote => true
.row
  .span12
    .stats
      = render "customer_stats"
