%header.jumbotron.subhead#overview
  %div.container
    %h1 Getting started
    %p.lead Overview of the project, its contents, and how to get started with a simple template
%div.container
  %div.row
    %div.span3.bs-docs-sidebar
      %ul.nav.nav-list.bs-docs-sidenav
        %il 
          %a toto
        %il 
          %a tata
    %div.span9
  
