%h2 hardware
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th model
      %th serial number
      %th firmware
  %tbody
    %tr
      %td= @server.sys_model
      %td= @server.sys_serial
      %td= @server.sys_fwversion