%h2 Health Check
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th check
      %th status
  %tbody
    - @server.healthchecks.each do |check|
      %tr
        %td= check.check
        %td= check.status