%h2 Properties
%table.table.table-bordered.table-striped#srv_property
  %thead
    %tr
      %th property
      %th value
  %tbody
    - @server.server_attributes.each do |attr|
      %tr
        %td= attr.name
        %td= attr.output
