.row
  .span3.bs-docs-sidebar
    #sidemenu.affix
      %h1= @server.hostname
      %ul.nav.nav-list.bs-docs-sidenav
        %li=link_to "Release", "#release"
        %li=link_to "lpar", "#lpar"
        %li=link_to "hardware", "#hardware"
        %li=link_to "san", "#san"
        %li=link_to "healthchecks", "#healthchecks"
      %br  
      = link_to 'back', servers_path, :class => "btn btn-primary"
      - if current_user.role == "admin"
        = link_to 'edit', edit_server_path(@server), :class => "btn btn-danger" 
  .span9
    #release 
      =render 'release'
    #lpar
      =render 'lpar'
    #softwares
      =render 'softwares'
    #hardware
      =render 'hardware'
    #san
      =render 'san'
    #healthchecks
      =render 'healthchecks'
        
%div.row
  %div.span12.page-footer
    

