.row
  .span3.bs-docs-sidebar
    #sidemenu.affix
      %h2= @server.hostname
      %span.label.label-info run date
      %strong= @server.run_date
      %ul.nav.nav-list.bs-docs-sidenav
        %li=link_to "Release", "#release"
        %li=link_to "lpar", "#lpar"
        %li=link_to "hardware", "#hardware"
        %li=link_to "san", "#san"
        %li=link_to "properties", "#properties"
        %li=link_to "healthchecks", "#healthchecks"
      %br
      = link_to 'back', servers_path, :class => "btn btn-primary"
      - if current_user.role == "admin"
        = link_to 'edit', edit_server_path(@server), :class => "btn btn-danger"
  .span9
    #release
      =render 'release'
    #lpar
      =render 'lpar'
    #softwares
      =render 'softwares'
    #hardware
      =render 'hardware'
    #san
      =render 'san'
    #properties
      =render 'properties'
    #healthchecks
      =render 'healthchecks'


