# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/
<% url = AixInventory::Application.routes.url_helpers %>
<%web_root = APP_CONFIG['web_root'] %>

ready =->
  $('#report_datatable').dataTable
    bJQueryUI: true
    sPaginationType: "bootstrap"
    sDom: 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"lfr>t<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"ip>'
    bProcessing: true
    bServerSide: true
    bFilter: false
    fnRowCallback: (nRow, aData, iDisplayIndex, iDisplayIndexFull) ->
                     $('td:eq(0)', nRow).html( '<a href="<%= web_root + url.quick_search_servers_path %>?type=hostname&search=' + aData[0]  + '">' + aData[0] + '</a>' )
    sAjaxSource: $('#report_datatable').data('source')
  $('.draggable').draggable
    appendTo: "body"
    helper: "clone"
  $( "#report_fields ol" ).droppable
      activeClass: "ui-state-default"
      hoverClass: "ui-state-hover"
      accept: ":not(.ui-sortable-helper)"
      drop: ( event, ui ) ->
        $( this ).find( ".placeholder" ).remove()
        $( "<li id=" + ui.draggable.attr('id') + "></li>" ).text( ui.draggable.text() ).appendTo( this )
        $("#report_selected_fields").val(field_values)
    .sortable
      items: "li:not(.placeholder)"
      sort:
        $( this ).removeClass( "ui-state-default" )

field_values =->
   $('#report_fields li').map( (i,n) ->
    $(n).attr('id')
    ).get()

$(document).ready(ready)
$(document).on('page:load', ready)
