# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/
<% url = AixInventory::Application.routes.url_helpers %>
<%web_root = APP_CONFIG['web_root'] %>

ready =->
  $('#report_datatable').dataTable
    bJQueryUI: true
    sPaginationType: "bootstrap"
    sDom: 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"lfr>t<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"ip>'
    bProcessing: true
    bServerSide: true
    bFilter: false
    fnRowCallback: (nRow, aData, iDisplayIndex, iDisplayIndexFull) ->
                     $('td:eq(0)', nRow).html( '<a href="<%= web_root + url.quick_search_servers_path %>?type=hostname&search=' + aData[0]  + '">' + aData[0] + '</a>' )
    sAjaxSource: $('#report_datatable').data('source')
$(document).ready(ready)
$(document).on('page:load', ready)
