#modal-window.modal.hide
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 import logs
  .modal-body
    %p data loading
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close

    
  