%br

.row.fileupload-buttonbar
  .span7.offset3
    = form_for Upload.new, :html => { :multipart => true, :id => "fileupload"  } do |f|
      %span.btn.btn-success.fileinput-button
        %i.icon-plus.icon-white
        %span Add files...
        = f.file_field :upload
      %button{ :type => "submit", :class => "btn btn-primary start", :id => "jfsubmit"}
        %i.icon-upload.icon-white
        %span Start upload
      %button{ :type => "reset", :class => "btn btn-warning cancel"}
        %i.icon-ban-circle.icon-white
        %span Cancel upload
      %button{ :type => "button", :class => "btn btn-danger delete"}
        %i.icon-trash.icon-white
        %span Delete
      %input{ :type => "checkbox", :class => "toggle"}
      %table.table.table-bordered.table-striped#files
        %thead
          %th file
          %th import_type
          %th action
        %tbody
          - @uploads.each do |upload|
            = render(upload)
      =render 'upload_tmpl'

