%br

.row.fileupload-buttonbar
  .span7.offset3
    = form_for Upload.new, :html => { :multipart => true, :id => "fileupload"  } do |f|
      %span.btn.btn-success.fileinput-button
        %i.icon-plus.icon-white
        %span Add files...
        = f.file_field :upload      
      =f.submit "Delete", :class => "btn btn-danger"        
      %table.table.table-bordered.table-striped#files
        %thead
          %th file
          %th import_type
          %th status
          %th action
          %th select
        %tbody
          - @uploads.each do |upload|
            = render(upload)
      =render 'upload_tmpl'
=render 'modal_window'

