%h1 select report scope

//%h2 os type
//= select("report", "os_type", OperatingSystemType.pluck("name"), class: "span1")

%h1 Select fields to add in report
%ul
  %h2 server
  - for column in Server.column_names - ['id', "created_at", "hardware_id", "operating_system_id", "operating_system_type_id", "customer_id", "updated_at" ] + ['os_type', 'os_version']
    %il{ id: "server[#{column}]", style: "cursor:move", class: "draggable label"}= column
  %h2 server attributes
  - ServerAttribute.group(:name).select(:name).map { |srv_attr| srv_attr.name}.each do |column|
    %il{ id: "server_attribute[#{column}]", style: "cursor:move", class: "draggable label"}= column
  %h2 hardware
  - for column in Hardware.column_names - ['id', "created_at", "updated_at" ]
    %il{ id: "hardware[#{column}]", style: "cursor:move", class: "draggable label"}= column
  %h2 lparstats
  - for column in Lparstat.column_names - ['id', "created_at", "updated_at" ]
    %il{ id: "lparstat[#{column}]", style: "cursor:move", class: "draggable label"}= column
  %h2
#report_fields
  %h1.ui-widget-header
    report fields
  .ui-widget-content
    %ol
      %li.placeholder
        %b Drag the fields you want here
      %li.label.label-success server
